body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
}

.upload-section {
  align-items: center;
  margin-bottom: 20px;
}

.file-input {
  display: none;
}

.custom-file-input {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 6.5px 15px;
  margin-right: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.upload-btn {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.toggle-btn-section {
  text-align: right;
  width: 200px;
  position: relative;
  float: right;
  bottom:55px;
}

.toggle-btn {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.toggle-btn.warning {
  background-color: #ffc107;
  color: #212529;
}

canvas {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  display: block;
  border-radius: 5px;
}

.no-data-message {
  margin-top: 20px; /* Ajuste conforme necessário */
  color: #666;
  font-size: 16px;
}
